


<div class="jumbotron">
    <h1 class="display-4 text-center">USER MANAGEMENT</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <app-user-detail-form></app-user-detail-form>
    </div>


<div class="col-md-6">
    <table class="table">
        <thead class="t-head light">
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>email</th>
                 <th>phone no.</th>
                 
                 <th>Gender</th>
                 <th>Active</th>
                 <th> </th>


            </tr></thead>
            <tbody>
                <tr *ngFor="let ud of service.list">
                    <td (click)="populateForm(ud)">{{ud.firstName}}</td>
                    <td (click)="populateForm(ud)">{{ud.lastName}}</td>
                    <td (click)="populateForm(ud)">{{ud.email}}</td>
                    <td (click)="populateForm(ud)">{{ud.phone}}</td>
                    
                    <td (click)="populateForm(ud)">{{ud.gender}}</td>
                    <td (click)="populateForm(ud)">{{ud.active}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"(click)="onDelete(ud.userid)"></i>

                    </td></tr>

            </tbody>
    </table>
</div></div>